/* variables */


:root {

/* Colors: */
--unnamed-color-a994bb: #A994BB;
--unnamed-color-94bbb3: #94BBB3;
--unnamed-color-daefeb: #DAEFEB;
--unnamed-color-521369: #521369;
--unnamed-color-0a332c: #0A332C;
--unnamed-color-13695b: #13695B;
}