/* variables */

:root {
  /* Colors: */
  --unnamed-color-a994bb: #a994bb;
  --unnamed-color-94bbb3: #94bbb3;
  --unnamed-color-daefeb: #daefeb;
  --unnamed-color-521369: #521369;
  --unnamed-color-0a332c: #0a332c;
  --unnamed-color-13695b: #13695b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: var(--unnamed-color-daefeb);
  scroll-behavior: smooth;
}

/* Hero */

#heroBackground {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)),
    url(./assets/pexels-alex-andrews-3805983.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}

#hero {
  min-width: 500px;
  max-width: 700px;
  text-align: center;
}

#hero h1 {
  font-size: 4rem;
}

#hero p {
  margin-top: 35px;
  opacity: 0.7;
}

#hero a {
  margin-top: 30px;
  background-color: var(--unnamed-color-13695b);
  color: var(--unnamed-color-daefeb);
  mix-blend-mode: screen;
}

#hero a:hover {
  background-color: var(--unnamed-color-521369);
  color: var(--unnamed-color-daefeb);
}

/* end of hero */

@media screen and (max-width: 800px) {
  #hero h1 {
    font-size: 3rem;
  }

  #hero p {
    padding: 2rem;
  }
}

/*  End of Hero */

/* Name section */
.name-section {
  width: 100%;
  position: relative;
}

#name-back {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)),
    url(./assets/pexels-alex-andrews-3805983.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.name-text {
  font-size: 34px;
  font-weight: 300;
  color: var(--unnamed-color-daefeb);
}

.form-control {
  font-family: "Barlow", sans-serif;
  max-width: 50%;
  height: 50px;
  border-radius: 10px;
  background: var(--unnamed-color-13695b);
  opacity: 0.7;
  font-size: 28px;
  font-weight: 600;
  word-spacing: 5px;
  border: none;
}

#name-input::placeholder {
  color: var(--unnamed-color-daefeb);
  opacity: 0.6;
}

.btn-name {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid var(--unnamed-color-13695b);
  opacity: 0.7;
}

.form-control:hover {
  background: var(--unnamed-color-521369);
  opacity: 0.7;
  box-shadow: none;
  color: white;
}
.form-control:focus {
  background: var(--unnamed-color-94bbb3);
  color: white;
}
.form-control:hover::content {
  color: white;
}

.btn-name:focus,
.btn-name:hover,
.btn:active {
  box-shadow: none;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 30px solid var(--unnamed-color-521369);
  opacity: 0.7;
  outline: none;
  outline-color: transparent;
}

@media screen and (max-width: 998px) {
  .name-text {
    font-size: 22px;
  }

  .form-control {
    max-width: 75%;
    height: 40px;
    font-size: 18px;
    margin-bottom: 50px;
  }
}

/* End name section */

/*//////////////////////////////////// DATE SECTION ////////////////////////////////////*/

.date-section {
  height: 100%;
}

#date-img {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.9)),
    url(./assets/pexels-alex-andrews-3805983.jpg);
  background-repeat: no-repeat;
  height: 100vh;
}

.date-section h2 {
  text-align: center;
  color: #e0e0e0;
  font-size: 34px;
  opacity: 0.9;
  margin-top: 183px;
}

.date-section form {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 69px;
}

.date-section input[placeholder="DD"],
[placeholder="MM"] {
  font-size: 40px;
  text-align: center;
  width: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
}

.date-section input[placeholder="YYYY"] {
  font-size: 40px;
  text-align: center;
  width: 140px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
}

.date-section input[type="text"] {
  color: var(--unnamed-color-daefeb);
  background: #13695b 0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  border-radius: 15px;
  border-color: var(--unnamed-color-13695b);
  margin: 0 10px;
}

.date-section button {
  position: absolute;
  margin-left: 10px;
  margin-top: 169px;
  width: 369px;
  height: 69px;
  font-size: 20px;
  color: var(--unnamed-color-daefeb);
  background: #521369 0% 0% no-repeat padding-box;
  mix-blend-mode: screen;
  border-radius: 15px;
  border-color: var(--unnamed-color-521369);
  border: none;
}

.date-section button:hover {
  background-color: var(--unnamed-color-13695b);
  border-color: var(--unnamed-color-13695b);
}

/*//////////////////////////////////// END OF DATE SECTION ////////////////////////////////////*/
